$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$grey300: hsl(233, 8%, 79%);
$grey200: hsl(0, 0%, 85%);
$navy950: hsl(240, 100%, 5%);
$navy600: hsl(236, 13%, 42%);
$gold400: hsl(35, 77%, 62%);
$red500: hsl(4, 85%, 63%);
