@import "./variables";
@import "./mixins";

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
} // converts px to rem

body {
  min-height: 100svh;
  font-family: "Inter", sans-serif;
  @include flex-center(column);
  width: 100%;
  padding: 0 1rem;
}
.homepage {
  padding: rem(28) 0;
}
.desktop-navbar {
  display: none;
}
.header {
  position: sticky;
  width: 100%;
  height: rem(28);
  top: 0;
  z-index: 100;
  margin-bottom: 2rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;

  & img {
    display: block;
    height: rem(28);
    max-width: 100%;
  }
}
.close-menu {
  width: rem(30.41);
  height: rem(30.41);
  align-self: flex-end;
  padding: 0;
}
.open-menu,
.close-menu {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $red500;
  }
}

.mobile-navbar {
  position: fixed;
  inset: 0 0 0 auto;
  background-color: $white;
  padding: rem(28) rem(21);
  display: flex;
  flex-direction: column;
  gap: rem(88);
  align-items: flex-start;
  min-width: rem(256);
  z-index: 200;
}
.menu {
  @include text-preset-5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  width: 100%;
}
.menu-item {
  color: $navy950;
  width: 100%;
}
.menu-item:focus,
.menu-item:hover {
  color: $red500;
  cursor: pointer;
}
.main-article-container {
  @include flex-center(column);
  gap: 1.5rem;
}
.main-article-content {
  @include flex-center(column);
  align-items: flex-start;
  gap: 1.5rem;
}
.main-article-header {
  @include text-preset-2;
  text-align: start;
  padding-right: 1rem;
  color: $navy950;
}
.main-article-text {
  @include text-preset-6;
  color: $navy600;
}
.main-article-btn {
  background-color: $red500;
  @include text-preset-7;
  color: $navy950;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: rem(12) rem(31.24);
  align-self: flex-start;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.main-article-btn:hover,
.main-article-btn:focus {
  background-color: $navy950;
  color: $white;
  cursor: pointer;
}
.featured-articles {
  background-color: $navy950;
  padding: rem(21.5) rem(20.5);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
}
.featured-articles-header {
  color: $gold400;
  @include text-preset-3;
}
.featured-articles-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.featured-article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid $navy600;
  padding-bottom: 2rem;
  &:last-of-type {
    border: none;
    padding: 0;
  }
}

.featured-article-header {
  @include text-preset-4;
  color: $white;
}

.featured-article:focus,
.featured-article:hover {
  cursor: pointer;
  & .featured-article-header {
    color: $gold400;
  }
}

.featured-article-text {
  @include text-preset-6;
  color: $grey300;
}
.article-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.article-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: rem(129);
}

.article-header {
  color: $navy950;
  @include text-preset-5;
}

.article-item:hover,
.article-item:focus {
  cursor: pointer;
  & .article-header {
    color: $red500;
  }
}
.article-img {
  width: rem(100);
  height: 100%;
}
.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: rem(5);
}
.article-number {
  color: $red500;
  @include text-preset-4;
}

.article-text {
  color: $navy600;
  @include text-preset-6;
}
.bluish {
  opacity: 50%;
  background-color: $navy950;
  pointer-events: none;
  z-index: 100;
}
.hidden {
  display: none;
}
@media screen and (min-width: 37.5rem) {
  .homepage {
    max-width: rem(608);
    position: relative;
  }
  .featured-articles {
    padding: 2rem rem(41.69);
  }
  .featured-articles-header {
    @include text-preset-2;
  }
  .mobile-navbar {
    padding: rem(28) 0 0 rem(36);
    min-width: rem(312);
    position: absolute;
  }
  .main-article-img {
    height: rem(300);
  }
  .main-article-header {
    padding: 0;
  }
}
@media screen and (min-width: 59.5rem) {
  .homepage {
    max-width: rem(1112);
  }
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr;
    gap: 4rem;
  }
  .open-menu,
  .close-menu {
    display: none;
  }
  .desktop-navbar {
    display: block;
  }
  .menu {
    @include flex-center(row);
    gap: rem(40);
  }
  .header {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0;
  }

  main {
    grid-area: 2 / 1 / span 6 / 4;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  .featured-articles {
    margin: 0;
    padding: rem(32.5) rem(24);
    max-width: rem(350);
  }
  .main-article-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "a c";
    gap: 2rem;
    max-width: rem(730);
  }
  .main-article-header {
    grid-area: a;
    @include text-preset-1;
  }
  .main-article-text {
    grid-area: b;
  }

  .main-article-btn {
    grid-area: c;
    padding: rem(12) rem(31);
    max-width: rem(185);
    max-height: rem(48);
    justify-self: flex-start;
  }
  .featured-articles-header {
    @include text-preset-3;
  }
  .article-list {
    grid-area: 8 / 1 / span 2 / 4;
    display: flex;
    flex-direction: row;
    gap: rem(40);
  }
  .article-item {
    flex: 1;
    height: rem(130);
    max-width: rem(341);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}
